<style>
  body{background: linear-gradient(to right, rgba(147,184,116,0), rgba(147,184,116,1));}
  </style>
<h2>Player 1 is <%= @player1.name %> </h2>
<h2>Player 2 is <%= @player2.name %> </h2>


<%= @player2.name %>: 60HP
<a href="/attack"><h2>Attack</h2></a>
<!-- this is a comment -->
